{% extends '_base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/country_create_view.css' %}" />
    <div class="detail-view">
        <div class="create-view">
            {% if country.country_name == "Jordan" or country.country_name == "Palestine" %}
            <h3>Sorry you can't delete <strong>{{ country.country_name }}</strong></h3>
            {% else %}
            <h3>Are you sure you want to delete {{ country.country_name }}</h3>
            <hr>
            <form  method='post' enctype="multipart/form-data">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                <button type="submit">Submit</button>
            </form>
            {% endif %}

        </div>
    </div>
{% endblock content%}